
<nz-content style="background: transparent">
  <nz-breadcrumb>
    <nz-breadcrumb-item style="font-size:1.3vw">Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item style="font-size:1.3vw">{{date}}</nz-breadcrumb-item>

  </nz-breadcrumb>
  <br />
  <div class="inner-content">

    <div nz-row>




      <div class="col" [nzXs]="{ span: 7, offset: 3 }" nz-col>

        <nz-card class="card" style="width:00px;" nzTitle="Total user"  style="font-size: 50px; text-align:center" >
          <div   nz-icon nzType="user" style="font-size: 200px; text-align:center" nzTheme="outline"></div>
          <h3   style="font-size: 50px; text-align:center">{{keyCountuser}}</h3>
        </nz-card>



      </div>

      <div class="col" [nzXs]="{ span: 7, offset: 3 }" nz-col>

        <nz-card class="card" style="width:300px;" nzTitle="Total Employee"  style="font-size: 50px; text-align:center" >
          <div   nz-icon nzType="snippets" style="font-size: 200px; text-align:center" nzTheme="outline"></div>
          <h3   style="font-size: 50px; text-align:center">{{keyCountemployee}}</h3>
        </nz-card>



      </div>

      <div class="col" [nzXs]="{ span: 7, offset: 3 }" nz-col>

        <nz-card class="card" style="width:300px;" nzTitle="present Today"  style="font-size: 50px; text-align:center" >
          <div   nz-icon nzType="snippets" style="font-size: 200px; text-align:center" nzTheme="outline"></div>
          <h3   style="font-size: 50px; text-align:center">{{present_count}}</h3>
        </nz-card>



      </div>


      <div class="col" [nzXs]="{ span: 7, offset: 3 }" nz-col>

        <nz-card class="card" style="width:300px;" nzTitle="absent Today"  style="font-size: 50px; text-align:center" >
          <div   nz-icon nzType="snippets" style="font-size: 200px; text-align:center" nzTheme="outline"></div>
          <h3   style="font-size: 50px; text-align:center">{{absent_count}}</h3>
        </nz-card>



      </div>


      <div class="col" [nzXs]="{ span: 7, offset: 3 }" nz-col>

        <nz-card class="card" style="width:100px;" nzTitle="late Today"  style="font-size: 50px; text-align:center" >
          <div   nz-icon nzType="snippets" style="font-size: 200px; text-align:center" nzTheme="outline"></div>
          <h3   style="font-size: 50px; text-align:center">{{late_count}}</h3>
        </nz-card>


    </div>


    <div class="col" [nzXs]="{ span: 7, offset: 3 }" nz-col>

      <nz-card class="card" style="width:100px;" nzTitle="leave Today"  style="font-size: 50px; text-align:center" >
        <div   nz-icon nzType="snippets" style="font-size: 200px; text-align:center" nzTheme="outline"></div>
        <h3   style="font-size: 50px; text-align:center">{{leave_count}}</h3>
      </nz-card>


  </div>



    </div>




  </div>
</nz-content>
