<nz-content style="background: transparent">




  <nz-page-header style="margin:0% ; padding:0%">
    <nz-page-header-title style="font-size:1.3vw">Welcome {{user_name}} </nz-page-header-title>
    <nz-page-header-subtitle>Dashboard Employee </nz-page-header-subtitle>
    <nz-page-header-extra>
      <nz-space>
        <nz-row >
          <nz-statistic  nzTitle="Date" nzValue="{{date}}" style="margin: 0 20px"></nz-statistic>
          <div class="blob">
            <nz-statistic  nzTitle="Time" nzValue="{{currentTimee | date: 'mediumTime' }}"></nz-statistic>
          </div>
       </nz-row>
        </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
      <button   class="button_change"  [disabled]="buttonIn"  nzShape="round" (click)="time_in()"  nz-button nzType="primary" style="margin: 0 10px">Time In</button>
      <button   class="button_change"  nzShape="round" (click)="time_out()" [disabled]="buttonOut" nz-button nzType="primary" style="margin: 0 10px">Time Out</button>


    </nz-page-header-content>

  </nz-page-header>




  <nz-calendar   [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)" class="calendar"  nzHeight="600px" [nzFullscreen]="true" >

    <ul *nzDateCell="let date" class="events">
        <div *ngFor="let item of present" >
              <ng-container *ngIf="getMonthData(item.date,date)">
                <ng-container *ngIf="getDateData(item.date,date)">

                  <nz-tag [nzColor]="'green'">Present<nz-badge [nzStatus]="'success'" [nzText]="item.attendees.fname"></nz-badge></nz-tag>

                </ng-container>
              </ng-container>
        </div>
        <div *ngFor="let item of absent" >
          <ng-container *ngIf="getMonthData(item.date,date)">
            <ng-container *ngIf="getDateData(item.date,date)">

              <nz-tag [nzColor]="'red'">Absent<nz-badge [nzStatus]="'error'" [nzText]="item.attendees.fname"></nz-badge></nz-tag>

            </ng-container>
          </ng-container>

    </div>

    <div *ngFor="let item of late" >
      <ng-container *ngIf="getMonthData(item.date,date)">
        <ng-container *ngIf="getDateData(item.date,date)">

          <nz-tag [nzColor]="'yellow'">Late<nz-badge [nzStatus]="'warning'" [nzText]="item.attendees.fname"></nz-badge></nz-tag>

        </ng-container>
      </ng-container>

</div>

        <div *ngFor="let item of calapproved">
                  <ng-container *ngIf="getMonthData(item.apply.date_from,date)">
                    <ng-container *ngIf="getDateData(item.apply.date_from,date)">
                      <nz-tag [nzColor]="'magenta'"> Start  of leave  <nz-badge [nzStatus]="'success'" [nzText]="item.fname"></nz-badge></nz-tag>

                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="getMonthData(item.apply.date_to,date)">
                    <ng-container *ngIf="getDateData(item.apply.date_to,date)">
                      <nz-tag [nzColor]="'purple'"> End  of leave  <nz-badge nzColor="#f50" [nzText]="item.fname"></nz-badge></nz-tag>

                    </ng-container>
                  </ng-container>

                </div>
                <div *ngFor="let item of eventlist">
                  <ng-container *ngIf="getMonthData(item.date,date)">
                    <ng-container *ngIf="getDateData(item.date,date)">
                      <div *ngIf="item.eventtype ==='meeting'">
                        <nz-tag [nzColor]="'orange'"> Meeting  <nz-badge nzColor="#f50" [nzText]="item.eventtype"> {{item.time}} {{item.description}}</nz-badge></nz-tag>
                      </div>
                      <div *ngIf="item.eventtype ==='activity'">
                        <nz-tag [nzColor]="'black'"> Activity  <nz-badge nzColor="#f50" [nzText]="item.eventtype"> {{item.time}} {{item.description}}</nz-badge></nz-tag>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>

    </ul>

  </nz-calendar>



</nz-content>



